<app-header></app-header>
<h1 class="grievance-system">
    Welcome to the Hostel Grievance System, a dedicated platform designed to streamline and address the concerns of
    residents efficiently. Our goal is to foster a harmonious living environment by providing students with a
    transparent and user-friendly interface to submit grievances.

    With features such as real-time tracking, prompt notifications, and a comprehensive resolution process, we empower
    residents to voice their issues and receive timely support. We believe that every concern matters and strive to
    ensure that your living experience is comfortable and enjoyable.
    <br>
    <br>
<div>
    Together, let’s build a supportive and responsive hostel community!
</div>
</h1>