<app-header></app-header>
<div class="add-Graviance">
    <h1>Enter Your Graviance Details</h1>
    <p class="message-p">{{addGrievanceMessage}}</p>
    <form #addgrievances="ngForm"
    (ngSubmit)="submit(addgrievances.value, addgrievances)"
     class="common-form">
      <input
        type="text"
        class="form-input"
        placeholder="Enter Your Name"
        name="name"
        ngModel
      />
      <input
        type="text"
        class="form-input"
        placeholder="Enter Type Of Grievances"
        name="hgstypes"
        ngModel
      />
      <input
      type="text"
      class="form-input"
      placeholder="Enter Your Room Number"
      name="room"
      ngModel
    />
    <input
    type="text"
    class="form-input"
    placeholder="Enter Your Course"
    name="course"
    ngModel
  />
  <input
  type="text"
  class="form-input"
  placeholder="Enter Your Mobile Number"
  name="mobile"
  ngModel
  />
  <textarea
  type="text"
  class="form-input"
  placeholder="Enter Grievance Description"
  name="description"
  ngModel
  ></textarea>
  <button class="form-button">Add Graviance</button>
  
    </form>
  </div>
